<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS</title>
  </head>
  <body>
    <div >
      <div >
        <a href="/">
          <button type="button" >Back </button>
        </a>
        <% if(characters.length > 0){ %>
        <table >
          <thead>
            <tr>
              <th scope="col" >Id</th>
              <th scope="col" >Name</th>
              <th scope="col" >Price</th>
              <th scope="col" >Image</th>
            </tr>
          </thead>
          <tbody>
            <% for (const product of characters) {%>
            <tr>
              <th scope="row"><%=product.id%></th>
              <th scope="row"><%=product.title%></th>
              <td><%=product.price%></td>
              <td><%=product.thumbnail%></td>
            </tr>
            <%}%>
          </tbody>
        </table>
        <% } else { %>
        <div >
          <h2>There are no characters</h2>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
