
    <a href='/users'>
        <button type='button'>See all Characters</button>
    </a>

    <form action='/' method='POST' content-type='application/json'>
        <label>Name</label>
        <input type='text' name='title' required/>
        <label>Reward</label>
        <input type='number' name='price' required/>
        <label>Species</label>
        <input type='text' name='especie' required/>
        <label>Image URL</label>
        <input type='text' name='thumbnail' required/>

        <button type='submit'>Add Character</button>
    </form>
